<% if article.excerpt? %>
  <%= article.excerpt %>
  <div class="extended">
    <p><%= link_to_permalink article, "Read full post..." %></p>
  </div>
<% else %>
  <%= article.html(:body) %>
  <% if article.extended? %>
    <div class="extended">
      <p><%= link_to_permalink article, "Read full post..." %></p>
    </div>
  <% end %>
<% end %>

