<h3 class='sidebar-title'>Daily fare alerts!</h3>
<div class='static-body'><!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;padding-bottom: 25px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://slcflightdeals.us8.list-manage.com/subscribe/post?u=a0b76e33e2aef6c86edbc71ea&amp;id=1eab24a707" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Subscribe</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="width: 90%" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a0b76e33e2aef6c86edbc71ea_1eab24a707" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background: #1F3D5C"></div>
</form>
</div>
</div>
<!--End mc_embed_signup-->
<!-- Begin FB box-->
<div class="fb-like-box" data-href="https://www.facebook.com//SLCflightdeals" data-width="195" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
<!-- End FB box-->
<!-- AirBNB Referral -->
<a href="http://www.airbnb.com/c/jbachus" target="_blank"><img src="/images/theme/airbnb-ad-01.png" class="img-responsive"></a>
<!-- End AirBNB Referral -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- SLC Flight Deals Adsense Ad -->
<div style="text-align: center; margin-top: 25px" align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Wide skyscraper -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-0750169486224099"
     data-ad-slot="3197021997"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>